<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Post</th>
=======
      <th>Commenter</th>
>>>>>>> 08a6d422f21bf48650b545ad265391fd98cc9254
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
<<<<<<< HEAD
        <td><%= comment.post_id %></td>
=======
        <td><%= comment.commenter %></td>
>>>>>>> 08a6d422f21bf48650b545ad265391fd98cc9254
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
