<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Post:</strong>
  <%= @comment.post_id %>
=======
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
>>>>>>> 08a6d422f21bf48650b545ad265391fd98cc9254
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
